.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;
}

.answer-btn {
  color: var(--brown-40);
  border: 1px solid var(--brown-40);
  background-color: var(--brown-10);
  border-radius: 8px;
  padding: 12px 35px 12px 24px;
  background-image: url('../../../assets/icon/ic-arrow-right.png');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 90% 50%;
}

@media (width <= 1200px) {
  .question-header {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (width <= 768px) {
  .question-header {
    flex-direction: column;
    gap: 20px;
  }
}
