body {
  background-color: #fff;
}
.modalWrapper {
  padding: 40px;
  padding-bottom: 70px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.modalTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  line-height: 30px;
}
.modalIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url('/src/assets/icon/ic-messages.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modalExitBtn {
  background-color: transparent;
  width: 28px;
  height: 28px;
  background-image: url('/src/assets/icon/ic-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modalTo {
  font-size: 1.125rem;
  line-height: 24px;
}
.modalUserProfile {
  display: inline-block;
  width: 28px;
  height: 28px;

  background-image: url('/src/assets/images/user-profile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modalToWhon {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 22px;
  margin-bottom: 12px;
}
