.questionForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questionTextarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--grayscale-20);
  resize: none;
}
.questionTextarea ::placeholder {
  color: var(--grayscale-40);
}
.submitBtn {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--brown-30);
  color: #fff;
}
