/* stylelint-disable custom-property-pattern */
@import url('../style/reset.css');
@import url('../style/common.css');

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url('../assets/images/background.png') no-repeat bottom center;
  background-size: 1200px auto;
  background-attachment: fixed;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  width: 456px;
  height: auto;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.formContainer {
  position: absolute;
  top: 364px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: var(--Grayscale-10, #fff);
  width: 400px;
  height: 172px;
  padding: 32px 0;
  gap: 16px;
  border-radius: 16px 0 0;
  flex-direction: column;
  align-items: center;
}

.inputField {
  background: url('../assets/icon/ic-person.svg') no-repeat 12px center;
  border: 1px solid var(--Grayscale-40, #818181);
  width: 336px;
  height: 46px;
  padding: 12px 16px 12px 40px;
  border-radius: 8px;
  font-size: 16px;
  background-size: 24px 24px;
}

.askButton {
  display: flex;
  color: #fff;
  width: 336px;
  height: 46px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--Brown-40, #542f1a);
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.questionButton {
  position: absolute;
  top: 45px;
  right: 45px;
  display: flex;
  border: 1px solid var(--Brown-40, #542f1a);
  width: 161px;
  height: 46px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--Brown-10, #f5f1ee);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.iconRight {
  width: 24px;
  height: 24px;
  background: url('../assets/icon/ic-arrow-right.svg') no-repeat center;
  background-size: contain;
}

@media (width >= 481px) and (width <= 768px) {
  .logo {
    width: 356px;
    top: 120px;
  }

  .formContainer {
    width: 80%;
    top: 220px;
    padding: 24px 0;
  }

  .inputField {
    width: 100%;
  }

  .askButton {
    width: 100%;
  }

  .questionButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--Brown-10, #f5f1ee);
  }

  .container {
    background: url('../assets/images/background.png') no-repeat center center;
    background-size: 768px auto;
  }
}

@media (width <= 480px) {
  .logo {
    width: 248px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  .questionButton {
    position: static; /* 중앙 정렬 */
    display: flex;
    border: 1px solid var(--Brown-40, #542f1a);
    width: 123px;
    height: 34px;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--Brown-10, #f5f1ee);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .questionButton span {
    display: block; /* 버튼 텍스트가 한 줄로 보이게 */
  }

  .formContainer {
    width: 257px;
    top: 180px;
    padding: 24px 0;
    gap: 16px;
    margin: 0 auto; /* 중앙 정렬 */
  }

  .inputField {
    width: 100%;
    padding-left: 48px;
  }

  .askButton {
    width: 100%;
    font-size: 16px;
  }
}
