/* stylelint-disable custom-property-pattern */
@import url('../style/reset.css');
@import url('../style/common.css');

.main {
  position: relative;
  padding-top: 160px;
  height: 100vh;
  background: url('../assets/images/background.png') no-repeat bottom center;
  background-size: 100%;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 456px;
  height: auto;
}

.questionButton {
  position: absolute;
  top: 45px;
  right: 130px;
  display: flex;
  border: 1px solid var(--Brown-40, #542f1a);
  width: 161px;
  height: 46px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--Brown-10, #f5f1ee);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media (width >= 481px) and (width <= 768px) {
  .questionButton {
    right: 50px;
  }
}

@media (width <= 480px) {
  .main {
    padding-top: 80px;
    background-size: 456px auto; /* 모바일 배경 사이즈 */
  }

  .logo {
    width: 248px;
    top: 90px;
    left: 50%;
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .questionButton {
    position: relative;
    top: -170px;
    width: 123px;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 8px;
    margin: 0;
    right: auto;
    left: auto;
  }

  /*   
  .questionButton {
    position: absolute;
    top: 45px;
    right: 130px;
    display: flex;
    border: 1px solid var(--Brown-40, #542f1a);
    width: 161px;
    height: 46px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--Brown-10, #f5f1ee);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  } */
  .questionButton span {
    display: block; /* 버튼 텍스트가 한 줄로 보이게 */
  }

  .iconRight {
    width: 18px;
    height: 18px;
  }
}
