/* stylelint-disable custom-property-pattern */
@import url('../../style/reset.css');
@import url('../../style/common.css');

.formContainer {
  display: flex;
  background: var(--Grayscale-10, #fff);
  width: 400px;
  height: 172px;
  padding: 32px;
  gap: 16px;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

.inputField {
  background: url('../../assets/icon/ic-person.svg') no-repeat 12px center;
  outline: 1px solid var(--Grayscale-40, #818181);
  width: 336px;
  height: 46px;
  padding: 12px 16px 12px 40px;
  border-radius: 8px;
  font-size: 16px;
  background-size: 20px;
}

.inputField:focus {
  outline: 1px solid var(--Brown-40, #542f1a);
}

.askButton {
  display: flex;
  color: #fff;
  width: 336px;
  height: 46px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--Brown-40, #542f1a);
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

@media (width <= 480px) {
  .formContainer {
    position: relative;
    top: 60px;
    margin: 24px 35px 0;
    width: auto;
  }

  .inputField {
    width: 100%;
    padding-left: 48px;
  }

  .askButton {
    width: 100%;
    font-size: 16px;
  }
}
