.header {
  display: flex;
  background: url('../../assets/images/main-bnr.png') no-repeat center/ cover;
  justify-content: center;
  max-width: 1200px;
  height: 234px;
  margin: 0 auto;
  padding-top: 50px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 170px;
  height: 67px;
}

.user-profile {
  width: 136px;
  height: 136px;
}

.user-nickname {
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 768px) {
  .header {
    height: 177px;
  }

  .logo {
    width: 124px;
    height: 49px;
  }

  .user-profile {
    width: 104px;
    height: 104px;
  }

  .user-nickname {
    font-size: 1.5rem;
    line-height: 30px;
  }
}
