html {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-text-size-adjust: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* stylelint-disable-next-line order/order */
  --grayscale-20: #f9f9f9;
  --grayscale-30: #cfcfcf;
  --grayscale-40: #818181;
  --grayscale-50: #515151;
  --brown-10: #f5f1ee;
  --brown-20: #e4d5c9;
  --brown-30: #c7bbb5;
  --brown-40: #542f1a;
  --brown-50: #341909;
  --blue: #1877f2;
  --yellow: #fee500;
  --red: #b93333;
}

body {
  background: var(--grayscale-20);
}

/* .shadow-1 {
  border: 1px solid var(--grayscale-30, rgba(207 207 207 1));
  box-shadow: 0 4px 4px 0 rgba(140, 140, 140, 0.25);
}

.shadow-2 {
  border: 1px solid var(--grayscale-30, rgba(207 207 207 1));
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
  
.shadow-3 {
  border: 1px solid var(--grayscale-30, rgba(207 207 207 1));
  box-shadow: 0 16px 20px 0 rgba(48, 48, 48, 0.6 2);
} */

/* 컨텐츠 영역 */
.wrap-inner {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}

.wrap-inner2 {
  width: 716px;
  max-width: 100%;
  margin: 0 auto;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 1200px) {
  .wrap-inner {
    padding: 0 50px;
  }

  .wrap-inner2 {
    padding: 0 32px;
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 768px) {
  .wrap-inner {
    padding: 0 24px;
  }

  .wrap-inner2 {
    padding: 0 24px;
  }
}
