.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagenation-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  color: var(--grayscale-40);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
}

.pagenation-btn.left-arrow {
  background-image: url('../../../assets/icon/ic-page-left.png');
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 50% 50%;
}

.pagenation-btn.right-arrow {
  background-image: url('../../../assets/icon/ic-page-right.png');
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 50% 50%;
}

.selected {
  color: var(--brown-40);
}
